
#greeting
{
    margin: 50px auto 0 auto;
    width: 55%;
    font-size: 8rem;
    

}

#aProgrammer
{
    font-size: 2.5rem;
    font-weight: normal;
}

h1
{
    
    font-family: 'Montez', cursive;
    color: #497174
}
h2,h3
{
    font-family: 'Nanum Gothic', sans-serif;
    color: #497174
}
/*font-family: 'BenchNine', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Nanum Gothic', sans-serif;

*/

hr
{
    margin: 5% auto;
}
body
{   
    /* font-family: 'BenchNine', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 2.2rem;

}

.topContainer
{
    background-color: #D6E4E5;
    margin: 0;
    padding-top: 100px;
}

.middleContainer
{

}

.bottomContainer
{
    /* height: 20%; */
    background-color: #D6E4E5;
    height: 200px;

}

#displayPicture
{
    height: 350px;
    border-radius: 50%;
}

#cloudTop
{
    position: absolute;
    right: 400px;
    top: 50px; 
    opacity: 50%;

}

#cloudBottom
{
    position: absolute;
    left: 400px;
    bottom: 600px;
    opacity: 50%;
}

#mountain
{
    width: 55%;
    opacity: 30%;
}

#copywrite
{
    /* margin-bottom: 0; */
    position: relative;
    top: 15%;
}

.webDevPicture
{
   border-radius: 50%;
   width: 300px;
   height: 300px;
   float: left;
   /*overflow: hidden;*/
   margin-left: 30px;
}

/* .cropped
{
    width: 25%;
    height: auto;


    
    
   
}
*/
.graphicsDesignPicture
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    float: right;
    margin-right: 30px;
  
    /* margin:auto 0; */


   
   /*scale: 50%;
   overflow: hidden;*/
}

.profile
{
    width: 50%;
    margin: auto;
}
.skillRow
{
    width: 50%;
    display: inline-block;
    margin:100px auto;
    text-align: left;
    
}

.contactMe
{
    margin-bottom: 100px;
}

.sections
{
    text-align: left;
    line-height: 2;
    margin: 1% auto;
}


.btn {
    background: #35e6ce;
    background-image: -webkit-linear-gradient(top, #35e6ce, #067364);
    background-image: -moz-linear-gradient(top, #35e6ce, #067364);
    background-image: -ms-linear-gradient(top, #35e6ce, #067364);
    background-image: -o-linear-gradient(top, #35e6ce, #067364);
    background-image: linear-gradient(to bottom, #35e6ce, #067364);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #daebeb;
    background-image: -webkit-linear-gradient(top, #daebeb, #497174);
    background-image: -moz-linear-gradient(top, #daebeb, #497174);
    background-image: -ms-linear-gradient(top, #daebeb, #497174);
    background-image: -o-linear-gradient(top, #daebeb, #497174);
    background-image: linear-gradient(to bottom, #daebeb, #497174);
    text-decoration: none;
  }

  .footer-link
  {
    position: relative;
    top: 15%;
    color: #497174;
    font-family: 'Montserrat', sans-serif;
    margin: auto 20px;
    text-decoration: none;
    
  }
  a:hover
  {
    color:#b1f8ee;
    
  }

  