
#greeting
{
    margin: 50px auto 0 auto;
    width: 55%;
    font-size: 8rem;
    

}

#aProgrammer
{
    font-size: 2.5rem;
    font-weight: normal;
}

h1
{
    
    font-family: 'Montez', cursive;
    color: #497174
}
h2,h3
{
    font-family: 'Nanum Gothic', sans-serif;
    color: #497174
}
/*font-family: 'BenchNine', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Nanum Gothic', sans-serif;

*/
body
{   
    /* font-family: 'BenchNine', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 2.2rem;

}

.topContainer
{
    background-color: #D6E4E5;
    margin: 0;
    padding-top: 100px;
}

.middleContainer
{

}

.bottomContainer
{
    
}

#displayPicture
{
    height: 350px;
}

#cloudTop
{
    position: absolute;
    right: 600px;
    top: 50px; 

}

#cloudBottom
{
    position: absolute;
    left: 600px;
    bottom: 600px;
}

#mountain
{
    width: 55%;
}

.webDevPicture
{
   border-radius: 50%;
   width: 300px;
   height: 300px;
   float: left;
   /*overflow: hidden;*/
   margin-left: 30px;
}

/* .cropped
{
    width: 25%;
    height: auto;


    
    
   
}
*/
.graphicsDesignPicture
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    float: right;
    margin-right: 30px;
  
    /* margin:auto 0; */


   
   /*scale: 50%;
   overflow: hidden;*/
}

.skillRow
{
    width: 50%;
    display: inline-block;
    margin:100px auto;
    text-align: left;
    
}

.sections
{
    text-align: left;
    line-height: 2;
}
