
#greeting
{
    margin: 0 auto;
    width: 10%;
}

/*font-family: 'BenchNine', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Square Peg', cursive;
*/
body
{   
    font-family: 'BenchNine', sans-serif;
    margin: 0;
    text-align: center;

}

.topContainer
{
    background-color: #D6E4E5;
    margin: 0;
    padding-top: 100px;
}

.middleContainer
{

}

.bottomContainer
{
    
}

#displayPicture
{
    height: 400px;
}

#cloudTop
{
    position: absolute;
    right: 600px;
    top: 50px; 

}

#cloudBottom
{
    position: absolute;
    left: 600px;
    bottom: 600px;
}

.webDevPicture
{
   border-radius: 50%;
   width: 500px;
   height: 500px;
   /*overflow: hidden;*/
}

.graphicsDesignPicture
{
    border-radius: 50%;
   width: 500px;
   height: 500px;
   /*overflow: hidden;*/
}
